/**width Start**/
.w0 {
  width: 0;
}

.wp {
  @for $i from 1 through 10 {
    &-#{$i} {
      &,
      &_ > * {
        @include wp($i);
      }
    }
  }
}

.w1 {
  @for $i from 1 through 10 {
    &-#{$i} {
      &,
      &_ > * {
        @include w1($i);
      }
    }
  }
}

.max-w100 {
  max-width: 100%;
}

.min-w100 {
  min-width: 100%;
}

/**width  End**/
