/**layout-tmb-ft Start**/
.layout-tmb-ft {
    min-height: 100%;
    position: relative;
    .middle {
      //padding-bottom: 120px;;
    }
    .bottom {
      position: absolute;
      //height: 120px;
      width: 100%;
      left: 0;
      bottom: 0;
    }
}

/**layout-tmb-ft  End**/
