/**color Start**/
$color-map:(
  0:#000,
  f:#fff,
  pink-a:#FF908F,
  yellow-a:#FFB808,
  blue-a:#49B7FD,
  blue-z:#2F3E4E,
  gray-a:#F3F3F3,
  gray-z:#8A8A8A,
  green-a:#66B35E,
  orange-a:#F5A623,
  orange-m:#FF764C,
  orange-z:#FF7247
);


/**color  End**/
