/*core start*/
$html-font-size:20;

$body-font-size: 60%;
$body-line-height: 1;
$body-font-family: Microsoft YaHei, "\5b8b\4f53", Arial, "sans-serif";

//header h1-h6:
$header-font-size-h1-3: 1.4rem;
$header-font-size-h4-6: 1.2rem;

/*core end*/


