//base:
$base-font-family: "STHeiti", "Microsoft YaHei", Helvetica, Arial, sans-serif !default;
$base-font-size-h1-3: 14px !default;
$base-font-size-h4-6: 12px !default;

//grid:
$grid-padding-width: 10px !default;
$grid-responsive-sm-break: 567px !default; // smaller than landscape phone
$grid-responsive-md-break: 767px !default; // smaller than portrait tablet
$grid-responsive-lg-break: 1023px !default; // smaller than landscape tablet

// generators:

//colors:
$color-map: (
  0: #000,
  3: #333,
  6: #666,
  9: #999,
  f: #fff
) !default;

$width-list: (1, 2, 3, 4, 5, 6, 7, 8, 9) !default;
$box-list: (1, 2, 3, 4, 5, 6, 7, 8, 9) !default;

//Generate a list:
$w1-list: generate-list(1, 20) !default;
$border-radius-list: generate-list(1, 5) !default;
$font-list: (10, 12, 14, 16, 18, 20, 30) !default;
$line-clamp: (1, 2, 3) !default;
